
/Library
/Temp
/Superespace.sln
/Superespace-csharp.sln
/*.patch
/*.csproj
*.csproj
*.csproj
*.pidb
*.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.pidb
Assembly-UnityScript.unityproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
*.userprefs
*.sln
*
*.pidb
*.unityproj
*.unityproj
*.pidb
*.unityproj
*.unityproj
*.unityproj
*.sln
/Superespace.userprefs
/Superespace-csharp.sln
/Test.txt
/Superespace.sln
/*.sln
/*.sln
*.unityproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/Superespace.sln
/Superespace-csharp.sln
/Superespace-csharp.v11.suo
/Assembly-CSharp.csproj
